body {
    font-family: sans-serif;
}

header {
  background-color: #5ccccc;
    padding: 10px 0px 10px 25px;

}

.link-header {
  background-color: #9FEE00;
  font-size: 36px;
  text-decoration: none;
  padding: 5px;
  border-radius: 40px
}

.link-header:hover{
    border: 15px double darkblue;
}

.link-nav {
  color: blue;
  font-size: 24px;
  margin-right: 55px;
  text-decoration: none;  
  border: 2px solid blue;
  border-radius: 10px;
  background-color: #9FEE00;
  padding: 5px

  
}
footer{
 padding: 40px 50px 40px 525px;   
 background-color: beige;
border: 2px darkblue double;  
}
.hobby{
    margin-top: 30px;
}
img{
    border: 5px solid lawngreen;
}


img:hover {
    border: 20px solid lawngreen;
    transition: 1s border linear;
    
}

h1{
    font-size: 20px;
    color: blue
    
} 


h1:hover{
    font-size: 25px;
    transition: 1s font-size linear;
}
